@font-face {
    font-family: "Quicksand";
    src: url("/fonts/Quicksand-VariableFont_wght.ttf");
}

:root{
    --grey: #e2e8f0;
    --blue:  #1992d4;
    --white: #ffff;
}

body{
    margin: 0;
    padding: 0;
    font-family: "Quicksand";
}

.container{
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    width: 100vw;
}

.sidebar{
    background-color: var(--blue);
    grid-row: 1 / 3;
    padding: .8rem;
    padding-left: 2rem;
    display:grid;
    grid-template-rows: auto 1fr;
    gap: 2rem;
}

.sidebar>.logo>.logo-text{
    color: var(--white);
}

.logo{
    display: flex;
    gap: 2vw;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.logo-grid{
    height: 36px;
    width: 36px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1.5fr 1fr 1.5fr;
}

.item {
    border: 1px solid var(--blue);
}
.item1{
    grid-row: 1/3;
}
.item4{
    grid-row: 2/4;
}

.sidebar>.menu{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 5rem;
}

.menu>.top-side{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu>.bottom-side{
    display:flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu>.top-side a{ 
    color: var(--white);
    text-decoration: none;
    display:flex;
    align-items: center;
    font-size: 1.8rem;
    gap:2vw;
}

.menu>.bottom-side a{ 
    color: var(--white);
    text-decoration: none;
    display:flex;
    align-items: center;
    font-size: 1.8rem;
    gap:2vw;
}

.header{
    padding: .8rem;
}

.main-content{
    background-color: var(--grey);
}